@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Just Kidding!</h1>
    <p>A place to find quality jokes on the internet which doesn't offend anyone.</p>
</div>
